{
    "env": {
        "es6": true
    },
    "ecmaFeatures": {
        "modules": true
    },
    "globals": {
        "DEBUG": false
    },
    "rules": {
        "eqeqeq": 2,
        "semi": 2,
        "strict": [2, "global"],
        "no-console": 2,
        "no-debugger": 2,
        "no-dupe-args": 2,
        "no-dupe-keys": 2,
        "no-duplicate-case": 2,
        "no-empty": 2,
        "no-extra-semi": 2,
        "block-scoped-var": 0,
        "dot-notation": 2,
        "no-loop-func": 2,
        "no-throw-literal": 2,
        "no-undef": 2,
        "no-unused-vars": 2,
        "no-use-before-define": 2,
        "no-shadow": 2,
        "no-catch-shadow": 2,
        "handle-callback-err": 2,
        "no-mixed-requires": 2,
        "brace-style": [1, "stroustrup", { "allowSingleLine": false }],
        "comma-style": [1, "last"],
        "new-cap": 2,
        "one-var": [2, {
            "initialized": "never"
        }],
        "space-infix-ops": 2,
        "spaced-comment": [1, "always"],
        "prefer-arrow-callback": 1,
        "prefer-const": 0,
        "no-const-assign": 2,
        "quotes": [2, "single"],
        "no-trailing-spaces": 2
    }
}
